p{
    margin-bottom: 0;
}

.slide-right {
    animation: slideRight 1.1s ease;
  }
  
  @keyframes slideRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

.Banner{
    background-color: #292c36;
    padding: 40% 0 25% 0;
    font-size: 14px;
}

.banner-content .bg-banner{
    background-color: #2b2f3b;
}

.banner-content .numeral{
    font-size: 13px;
    color: #515a78;
}

.banner-content  .linhas{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-content .linhas .coluna1{
    padding-right: 5%;
}

.banner-content .bg-banner .easter-egg{
    display: flex;
    flex-direction: row;
    color: #2b2f3b;
}

@media (min-width: 425px){
    .Banner{
        font-size: 100%;
    }
}

@media (min-width: 768px){
    .Banner .banner-content .linhas{
        padding-left: 10%;
    }
    .Banner{
        padding: 30% 0 20% 0;
        font-size: 170%;
    }
}

@media (min-width: 1440px){
    .Banner .banner-content .linhas{
        padding-left: 15%;
    }
    .Banner{
        padding: 17% 0 13% 0;
        font-size: 200%;
    }
}

@media (min-width: 1920px){
    .Banner{
        font-size: 300%;
    }
}