.cor1{
    color: #848c97;
}

.cor2{
    color: #aef1ff;
}

.cor3{
    color: #e8a3ec;
}

.cor4{
    color: #ffd79c;
}

.cor5{
    color: #FFF
}

.cor6{
    color: #e7618b;
}

.cor7{
    color: #3e3de6;
}

.cor8{
    color: #2a3d7f;
}

a{
    text-decoration: none;
    color: white;
}