.Footer{
    background-color: #292c36;
    padding-top: 80px;
}

.Footer .up{
    padding: 30px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.Footer .up.fade-in{
    opacity: 1;
}

.Footer .footer-content{
    margin-bottom: 70px;
}

.Footer .footer-content form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #2f323d;
    padding: 20px;
}

.Footer .footer-content .form input{
    padding: 30px;
}


.Footer .footer-content .form textarea{
    padding: 30px 30px 15% 30px;
}

.Footer .footer-content .form .button{
    background-color: #e7618b;
    transition: background-color 0.3s;
    border: none;
}

.Footer .footer-content .form .button:hover{
    background-color: #c61950;
}


.Footer .footer-content .title{
    padding: 50px 0 20px 0;
}

.Footer .footer-title h3{
    font-size: 14px;
    margin-bottom: 0;
}

.Footer .footer-content .topics{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer .footer-content .topics .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer .footer-content .social-content .midias-sociais{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.Footer .social-content .content .icon-social img{
    width: 40px;
}

.Footer .footer-title{
    color: #4e6189;
    background-color: #333640;
    width: 160px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.Footer .footer-copy .test{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Footer .footer-copy .test .to-up img{
    width: 20px;
}

.Footer .footer-copy .test h4{
    font-size: 15px;
    text-align: center;
    margin: 30px 0;
}

.Footer .formulario form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.local-content .cor2{
    text-align: center;
}

@media (min-width: 1200px) {
    .Footer .footer-copy .test{
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 1440px) {
    .Footer .footer-content form{
        align-items: center;
        padding: 100px 0;
    }

    .Footer .footer-content .form input{
        width: 600px;
    }

    .Footer .footer-content .form textarea{
        width: 600px;
    }
}