.Footer{
    background-color: #292c36;
    padding: 80px 0;
}

.Footer .footer-content{
    padding: 30px;
}

.Footer .footer-content form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #2f323d;
    padding: 20px;
}

.Footer .footer-content .form input{
    padding: 30px;
}


.Footer .footer-content .form textarea{
    padding: 30px 30px 15% 30px;
}

.Footer .footer-content .form .button{
    background-color: #e7618b;
    transition: background-color 0.3s;
    border: none;
}

.Footer .footer-content .form .button:hover{
    background-color: #c61950;
}


.Footer .footer-content .title{
    padding: 50px 0 20px 0;
}

.Footer .footer-title h3{
    font-size: 14px;
    margin-bottom: 0;
}

.Footer .footer-content .topics{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.Footer .footer-title{
    color: #4e6189;
    background-color: #333640;
    width: 160px;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.Footer .formulario form{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media (min-width: 1440px) {
    .Footer .footer-content form{
        align-items: center;
        padding: 100px 0;
    }

    .Footer .footer-content .form input{
        width: 600px;
    }

    .Footer .footer-content .form textarea{
        width: 600px;
    }
}